
<ul>
  @for (link of links; track link.title) {
    <li>
      @if (link.url) {
        <a [routerLink]="link.url">{{ link.title }}</a>
      } @else {
        <a (click)="setVisibility(link)" class="not-a-link">{{ link.title }}</a>
      }
      @if(link.isChildrenVisible){
        <ul>
          @for(child of link.children; track child.title){
            <li>
              @if(child.url){
                <a [routerLink]="child.url">{{child.title}}</a>
              }
            </li>

          }
        </ul>
      }
    </li>

  }
</ul>
