<h2>Demo appel API</h2>
<section>
  @if (yugiResult.meta.previous_page) {
    <button (click)="previous()">⬅️</button>
  }
  @if (yugiResult.meta.next_page) {
    <button (click)="next()">➡️</button>
  }
  @for (card of yugiResult.data; track card.id) {
    <div class="card">
      <div class="left">
        <h3>Name : {{ card.name }}</h3>
        <h2>Type : {{ card.humanReadableCardType }}</h2>
        <p>{{ card.desc }}</p>
      </div>
      <div class="right">
        <img [src]="card.card_images[0].image_url" [alt]="card.name">
      </div>
    </div>
  }
  @if (yugiResult.meta.previous_page) {
    <button (click)="previous()">⬅️</button>
  }
  @if (yugiResult.meta.next_page) {
    <button (click)="next()">➡️</button>
  }
</section>
