* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

body {
  min-height: 100vh;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
